<svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.66659 1.14331H22.3333C23.6166 1.14331 24.6666 2.25558 24.6666 3.61501V18.4452C24.6666 19.8047 23.6166 20.9169 22.3333 20.9169H3.66659C2.38325 20.9169 1.33325 19.8047 1.33325 18.4452V3.61501C1.33325 2.25558 2.38325 1.14331 3.66659 1.14331Z" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M24.6666 3.61499L12.9999 12.266L1.33325 3.61499" stroke="#231F20" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
