<svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M31.3313 3.44226C30.9633 2.08731 29.879 1.02019 28.5022 0.658052C26.0067 0 16 0 16 0C16 0 5.99337 0 3.49781 0.658052C2.12103 1.02025 1.0367 2.08731 0.668671 3.44226C0 5.89818 -2.27987e-08 11.0222 -2.27987e-08 11.0222C-2.27987e-08 11.0222 0 16.1463 0.668671 18.6022C1.0367 19.9572 2.12103 20.9798 3.49781 21.3419C5.99337 22 16 22 16 22C16 22 26.0066 22 28.5022 21.3419C29.879 20.9798 30.9633 19.9572 31.3313 18.6022C32 16.1463 32 11.0222 32 11.0222C32 11.0222 32 5.89818 31.3313 3.44226ZM12.7273 15.6745V6.36997L21.0909 11.0223L12.7273 15.6745Z" fill="white"/>
</svg>
