<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7.16269 32H0.528453V10.6357H7.16269V32ZM3.842 7.72143C1.72104 7.72143 0 5.96429 0 3.84286C0 1.72143 1.72104 0 3.842 0C5.96295 0 7.684 1.72143 7.684 3.84286C7.684 5.96429 5.96295 7.72143 3.842 7.72143ZM31.9929 32H25.3729V21.6C25.3729 19.1214 25.3229 15.9429 21.9237 15.9429C18.4744 15.9429 17.946 18.6357 17.946 21.4214V32H11.3189V10.6357H17.6818V13.55H17.7746C18.6601 11.8714 20.8239 10.1 24.0518 10.1C30.7646 10.1 32 14.5214 32 20.2643V32H31.9929Z" fill="white"/>
</svg>
