html {
  font-size: 16px;
}

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #FAFAFA;
  font-family: Titillium Web;
}

html,
body,
.container {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1600px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

p, h1, h2, h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  border: 0;
  margin: 0;
}

button:focus,
input:focus {
  outline: none;
}

.header {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__access {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .header__access {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30%;
  }
}

.header__access div {
  display: flex;
  align-items: center;
}

.header__access li {
  width: 100%;
}

.header__access li a {
  width: 100%;
  display: flex;
  padding: 16px;
  background-color: #EFEFEF;
}

.header__access--icon {
  margin-right: 10px;
}

.header__access--minicart {
  border: 1px solid #FAA500;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.header__autocomplete {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 120px;
  left: 0;
  padding: 16px;
}

@media screen and (min-width: 769px) {
  .header__autocomplete {
    background-color: #ffffff;
    display: flex;
    position: initial;
    padding: 0;
    max-width: 50%;
  }
}

.header__autocomplete--active {
  display: block;
}

.header__autocomplete--inputs {
  width: 100%;
  position: relative;
}

.header__autocomplete input {
  background-color: #EFEFEF;
  border-radius: 10px;
  padding: 16px;
  width: 100%;
  font-size: 12px;
}

.header__autocomplete--button {
  background-color: #FAA500;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  text-transform: capitalize;
  font-size: 14px;
}

@media screen and (min-width: 769px) {
  .header__autocomplete--button {
    width: 119px;
  }
}

.header__icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}

.header__hintbar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #353535;
}

.header__hintbar p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 5px 0;
}

.header__logo {
  max-width: 147px;
}

.header__logo img {
  width: 100%;
}

.header__menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translatex(-100%);
  transition: 0.2s;
}

@media screen and (min-width: 769px) {
  .header__menu {
    height: 50px;
    position: initial;
    justify-content: center;
    background-color: #ffffff;
    z-index: 1;
    transform: initial;
  }
}

.header__menu--active {
  transform: translatex(0%);
  transition: 0.2s;
}

.header__menu--wrapper {
  display: flex;
  flex-direction: column;
  width: 85%;
  justify-content: space-between;
  background-color: #ffffff;
  padding-bottom: 20px;
  box-sizing: border-box;
}

@media screen and (min-width: 769px) {
  .header__menu--wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 0;
  }
}

.header__menu--links {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

@media screen and (min-width: 769px) {
  .header__menu--links {
    max-width: 80%;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }
}

.header__menu--links li {
  height: 100%;
  width: 100%;
}

.header__menu--links li:last-child > a {
  text-transform: uppercase;
}

.header__menu--links li a {
  font-size: 14px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-transform: capitalize;
  transition: 0.2s;
  padding: 16px;
  box-sizing: border-box;
}

.header__menu--links li a:hover {
  color: #FAA500;
  font-weight: 700;
  transition: 0.2s;
}

@media screen and (min-width: 769px) {
  .header__menu--links li a {
    justify-content: center;
  }
}

.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
  padding: 24px 0;
  z-index: 2;
}

.header__wrapper .container {
  justify-content: space-between;
  align-items: center;
}

.header .mobile {
  display: flex;
}

@media screen and (min-width: 769px) {
  .header .mobile {
    display: none;
  }
}

.header .desktop {
  display: none;
}

@media screen and (min-width: 769px) {
  .header .desktop {
    display: flex;
  }
}

.footer {
  display: flex;
  width: 100%;
}

.footer__copyright {
  background-color: #353535;
  width: 100%;
  padding: 26px 0;
  display: flex;
  justify-content: center;
}

.footer__copyright--development {
  width: 207px;
  display: flex;
}

.footer__copyright--development--item {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.footer__copyright--development--item span {
  color: #ffffff;
  font-size: 10px;
}

.footer__copyright--development--item img {
  width: 100%;
}

.footer__copyright--pagamentos {
  margin-bottom: 36px;
}

@media screen and (min-width: 769px) {
  .footer__copyright--pagamentos {
    margin: 0;
  }
}

.footer__copyright--pagamentos ul {
  width: 207px;
  display: flex;
}

.footer__copyright--pagamentos ul li {
  padding: 0 10px;
}

.footer__copyright--pagamentos ul li a img {
  width: 32px;
}

.footer__copyright--sociais {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

@media screen and (min-width: 769px) {
  .footer__copyright--sociais {
    margin: 0;
  }
}

.footer__copyright--sociais ul {
  width: 207px;
  display: flex;
  align-items: center;
}

.footer__copyright--sociais ul li {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 10px;
}

.footer__copyright--sociais ul li a {
  height: 100%;
}

.footer__copyright--sociais ul li a svg {
  width: 100%;
  height: 100%;
}

.footer__copyright--wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 769px) {
  .footer__copyright--wrapper {
    flex-direction: row;
  }
}

.footer__menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 16px;
}

@media screen and (min-width: 769px) {
  .footer__menu {
    padding: 40px 0;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
  }
}

.footer__menu--content {
  padding: 16px 31px;
}

@media screen and (min-width: 769px) {
  .footer__menu--content {
    padding: 0;
  }
}

.footer__menu--title h4 {
  font-size: 16px;
  font-weight: 700;
  position: relative;
}

.footer__menu--title h4::after {
  content: "+";
  font-size: 16px;
  font-weight1: 700;
  position: absolute;
  right: 0;
}

@media screen and (min-width: 769px) {
  .footer__menu--title h4::after {
    content: "";
  }
}

.footer__menu--links {
  height: 0;
  overflow: hidden;
  transition: 0.2s;
}

@media screen and (min-width: 769px) {
  .footer__menu--links {
    height: auto;
  }
}

.footer__menu--links li {
  padding: 12px 0;
}

.footer__menu--links li a {
  font-size: 12px;
}

.footer__menu--links--active {
  height: auto;
  transition: 0.2s;
}

.footer__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
