footer.footer
  .footer__wrapper
    .footer__menu
      .footer__menu--content  
        .footer__menu--title
          h4 Informações
        ul.footer__menu--links
          li
            a(href="") Quem Somos
          li
            a(href="") Prazo de Evio
          li
            a(href="") Trocas e Devoluções
          li
            a(href="") Promoções e Cupons
      .footer__menu--content
        .footer__menu--title
          h4 Minha Conta  
        ul.footer__menu--links
          li
            a(href="") Minha conta
          li
            a(href="") Meus Produtos
          li
            a(href="") Cadastre-se
      .footer__menu--content
        .footer__menu--title
          h4 Onde nos Encontrar
        ul.footer__menu--links
          li
            a(href="") Lojas
          li
            a(href="") Endereco

    .footer__copyright
      .container
        .footer__copyright--wrapper
          .footer__copyright--sociais
            ul
              li
                a(href="")
                  include ../../icons/icon-facebook.pug
              li
                a(href="")
                  include ../../icons/icon-linkedin.pug
              li
                a(href="")
                  include ../../icons/icon-instagram.pug
              li
                a(href="")
                  include ../../icons/icon-youtube.pug
          .footer__copyright--pagamentos
            ul
              li
                a(href="")
                  img(src="../../images/visa.png", alt="")
              li
                a(href="")
                  img(src="../../images/mastercard.png", alt="")
              li
                a(href="")
                   img(src="../../images/visa.png", alt="")
              li
                a(href="")
                  img(src="../../images/mastercard.png", alt="")
                 
          .footer__copyright--development
            .footer__copyright--development--item
              span Powered by
              a(href="")
                include ../../icons/icon-vtex.pug
            .footer__copyright--development--item
              span Developed by
              a(href="")
                img(src="../../images/logo-maeztra-branco.png", alt="")