ul.tipbar__list#marcas-list
  li
    img(src="../../images/marca1.png", alt="")
  li
    img(src="../../images/marca2.png", alt="")
  li
    img(src="../../images/marca3.png", alt="")
  li
    img(src="../../images/marca4.png", alt="")
  li
    img(src="../../images/marca5.png", alt="")