.modal-newsletter
  .modal-newsletter__wrapper
    .modal-newsletter__banner
      img(src="../../images/banner-modal-newsletter.png", alt="")
    .modal-newsletter__info
      .modal-newsletter__text
        include ../../icons/icon-carta.pug
        p bem vindo à maeztra
        span Receba em Primeira mão
        strong desconstos e ofertas exclusivas
      form(action="").modal-newsletter__form
        input(type="text" placeholder="Digite seu e-mail").modal-newsletter__input
        input(type="submit" value="Enviar").modal-newsletter__button
