ul.tipbar__list#tipbar-list
  li
    img(src="../../images/Tipbar05.png", alt="")
  li
    img(src="../../images/Tipbar04.png", alt="")
  li
    img(src="../../images/Tipbar03.png", alt="")
  li
    img(src="../../images/Tipbar02.png", alt="")
  li
    img(src="../../images/Tipbar01.png", alt="")