ul.shelf__list#shelf-list
  li.shelf__item
    article.shelf__item--content
      a(href="")
        img(src="../../images/saia-bege.png", alt="")
      .shelf__item--price R$ 500,00
      .shelf__item--name Faux Suede Mini Skirt
      .shelf__item--description
        p A faux suede mini skirt featuring exposed button-front closures and panel seam construction.
      .shelf__item--button
        | Adicionar
  li.shelf__item
    article.shelf__item--content
      a(href="")
        img(src="../../images/saia-florida.png", alt="")
      .shelf__item--price R$ 320,00
      .shelf__item--name Ruched Rose Print Mini Skirt
      .shelf__item--description
        p A faux suede mini skirt featuring exposed button-front closures and panel seam construction.
      .shelf__item--button
        | Adicionar
  li.shelf__item
    article.shelf__item--content
      a(href="")
        img(src="../../images/saia-bege.png", alt="")
      .shelf__item--price R$ 500,00
      .shelf__item--name Faux Suede Mini Skirt
      .shelf__item--description
        p A faux suede mini skirt featuring exposed button-front closures and panel seam construction.
      .shelf__item--button
        | Adicionar
  li.shelf__item
    article.shelf__item--content
      a(href="")
        img(src="../../images/saia-florida.png", alt="")
      .shelf__item--price R$ 320,00
      .shelf__item--name Ruched Rose Print Mini Skirt
      .shelf__item--description
        p A faux suede mini skirt featuring exposed button-front closures and panel seam construction.
      .shelf__item--button
        | Adicionar
  li.shelf__item
    article.shelf__item--content
      a(href="")
        img(src="../../images/saia-bege.png", alt="")
      .shelf__item--price R$ 500,00
      .shelf__item--name Faux Suede Mini Skirt
      .shelf__item--description
        p A faux suede mini skirt featuring exposed button-front closures and panel seam construction.
      .shelf__item--button
        | Adicionar
  li.shelf__item
    article.shelf__item--content
      a(href="")
        img(src="../../images/saia-florida.png", alt="")
      .shelf__item--price R$ 320,00
      .shelf__item--name Ruched Rose Print Mini Skirt
      .shelf__item--description
        p A faux suede mini skirt featuring exposed button-front closures and panel seam construction.
      .shelf__item--button
        | Adicionar
